nav {
  background-color: #111827;
  color: white;
  padding: 20px 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h2 {
  font-size: 28px;
}

nav ul {
  display: flex;
  gap: 30px;

  list-style: none;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #38bdf8;
}